textarea {
	resize: vertical;
}
::-moz-selection {
	background: #339;
	color: #fff;
}
::selection {
	background: #339;
	color: #fff;
}
img, br, a.close {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
input:not([type=checkbox]):focus {
	border: 2px solid #99f !important;
	box-shadow: 3px 2px 0px #339 !important;
}
.errorP {
	color: #933;
	font-weight: bold;
}
tr.bg-info, .alert {
	background-color: #ccf;
}
@media screen and (max-width: 768px) {
	.alert {
		display: none;
	}
}