/*generic*/
textarea {
	resize: vertical;
}
::-moz-selection {
	background: #339;
	color: #fff;
}
::selection {
	background: #339;
	color: #fff;
}
img, br, a.close {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
input:not([type=checkbox]):focus, textarea:focus {
	border: 2px solid #99f !important;
	box-shadow: 3px 2px 0px #339 !important;
}
input, .alert, table, textarea, button {
	border-radius: 0px !important;  /*try 10px?*/
}

/*table*/
tr.bg-info, tr.bg-info:hover {
	background-color: #ccf !important;
}
tr:hover:not(.bg-info) {
	background-color: #ccc;
}

/*alert*/
.alert {
	background-color: #ccf;
	border: 0;
}
.alert a.close {
	color: #fff;
	opacity: 1;
}

/*misc*/
.errorP {
	color: #933;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.alert {
		display: none;
	}
}